html {
    font-family: Helvetica, Verdana, "Open Sans";
}

.hidden {
    display: none !important;
    visibility: hidden;
}

h1 {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 10px;
}

#theTable {
    width: 960px;
    margin: 0 auto;
}

#theThumbnails {
    width: 960px;
    margin: 0 auto;
    list-style-type: none;
}

.searchBox {
    width: 960px;
    margin: 0 auto 10px;
    background: #efefef;
    padding: 0.1em 0.1em 0.5em 0.5em;
}

#search {
    border: 1px solid #a0a0a0;
    padding: 10px 30px 10px 40px;
    margin: 3px;
    background: url('../icons/search-icon.png') #ffffff no-repeat 8px 6px;
    width: 735px;
}

#searchBtn {
    position: relative;
    left: -10px;
    border: 1px solid #7070ff;
    background: #7070ff;
    height: 37px;
    width: 100px;
    color:#ffffff;
    cursor: pointer;
}

.viewBtn {
    position: relative;
    left: -10px;
    top: 12px;
    border: 1px solid #7070ff;
    height: 37px;
    width: 37px;
    cursor: pointer;
}

.gridView {
    background: url('../icons/grid-toggle.png') #7070ff no-repeat 4px 7px;
}

.listView {
    background: url('../icons/list-toggle.png') #7070ff no-repeat 4px 7px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

#theTable tr {
    height: 44px;
    border-bottom: 3px solid #efefef;
}

#theTable th {
    text-align: left;
}

#theTable thead {
    background: #efefef;
}

.thumbnailBox {
    width: 230px;
    height: 230px;
    float: left;
    text-align: center;
    background: #efefef;
    margin-right: 5px;
    margin-bottom: 10px;
}

.thumbnailTitle {
    padding-top: 30px;
}

.thumbnail {
    height: 135px;
    line-height: 135px;
    width: 210px;
    background: #ffffff;
    margin: 10px 10px 0 10px;
}

.thumbnail img {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.pictureCell {
    text-align: center;
    width: 100px;
}

td img {
    vertical-align: middle;
}
